<!DOCTYPE html>
<html ng-app="ScopeyScope">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript">
      angular.module('ScopeyScope', [])
        .controller('OverAndOver', function ($scope) {
          $scope.message = "I'm from the parent"
          $scope.things = [1,2,3]
        })
    </script>
  </head>
  <body>
    <div ng-controller="OverAndOver">
      <h1>Instructions</h1>
      <ul>
        <li>Change any field in Section #1</li>
        <li>Change one field in Section #2</li>
        <li>Change any field in Section #1</li>
        <li>Wat? - look at the source code</li>
      </ul>
      <fieldset>
        <legend>Section #1 <small><em>NOT</em> using ng-repeat</small></legend>
        <div>
            <input ng-model="message">
        </div>
        <div>
          <input ng-model="message">
        </div>
        <div>
          <input ng-model="message">
        </div>
      </fieldset>
      <fieldset>
        <legend>Section #2 <small><em>using</em> ng-repeat</small></legend>
        <div ng-repeat="thing in things">
          <input ng-model="message">
        </div>
      </fieldset>
    </div>
  </body>
</html>